<!-- start custom footer snippets -->
<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-r1a3072traya" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:1200px;height:90px"
     data-ad-client="ca-pub-5809666791319738"
     data-ad-slot="6053965125"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->